* {
  padding: 0 !important;
  margin: 0 !important;
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
}

.css-1ygcj2i-MuiTableCell-root,
.css-1ex1afd-MuiTableCell-root {
  height: 40px;
  padding: 0 10px !important;
}

.table-container {
  width: 90% !important;
  height: 500px;
  margin: auto !important;
}

.buttons-container {
  width: 90%;
  margin: auto !important;
}

.css-1ygcj2i-MuiTableCell-root {
  background-color: #d2ddf3;
  color: rgb(7, 7, 154) !important;
  font-weight: 600 !important;
  display: flex;
  border: 0.5px solid rgba(128, 128, 128, 0.2);
}

.css-1ygcj2i-MuiTableCell-root p {
  width: fit-content;
  margin: auto;
}

.css-1ex1afd-MuiTableCell-root {
  border: 0.5px solid rgba(128, 128, 128, 0.2);
}

.drop-down {
  padding-left: 10px !important;
}

.custom-form-control {
  border: 0.5px solid rgba(0, 0, 0, 0.265) !important;
  margin: 20px !important;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 4px 8px #0000001a;
  background-color: #d2ddf3;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.custom-form-label {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(7, 7, 154) !important;
  padding: 0 10px !important;
  margin-bottom: 10px;
}

.custom-radio-group {
  display: flex;
  justify-content: space-around;
}

.custom-form-control-label {
  margin: 0 10px;
  font-size: 1rem;
  color: #555;
}

ul li {
  padding-left: 10px !important;
  padding-top: 2px !important;
}

@media print {
  body {
    zoom: 0.4 !important;
    padding: 0 !important;
    margin: 0 !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .table-container,
  .buttons-container {
    width: 100% !important;
  }

  .printableTable td,
  .printableTable th {
    border: 1px solid black;
  }
}
