* {
  padding: 0 !important;
  margin: 0 !important;
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
}

.css-1ygcj2i-MuiTableCell-root,
.css-1ex1afd-MuiTableCell-root {
  height: 40px;
  padding: 0 10px !important;
}

.css-1ps6pg7-MuiPaper-root {
  width: 90% !important;
  height: 500px;
  margin: auto !important;
  margin-top: 20px !important;
}

.css-pori7h {
  width: 90%;
  margin: auto !important;
  margin-top: 20px !important;
}

.css-1ygcj2i-MuiTableCell-root {
  background-color: #d2ddf3 !important;
  color: rgb(7, 7, 154) !important;
  font-weight: 600 !important;
  display: flex;
  border: 0.5px solid rgba(128, 128, 128, 0.2) !important;
}

.css-1ygcj2i-MuiTableCell-root p {
  width: fit-content;
  margin: auto;
}

.css-1ex1afd-MuiTableCell-root {
  border: 0.5px solid rgba(128, 128, 128, 0.2) !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding-left: 10px !important;
}

.css-1nrlq1o-MuiFormControl-root {
  margin-left: 20px !important;
  display: flex;
  border: 0.5px solid rgba(0, 0, 0, 0.265) !important;
  font-family: Arial, Helvetica, sans-serif;
}

ul li {
  padding-left: 10px !important;
  padding-top: 2px !important;
}

@media print {
  body {
    zoom: 0.4 !important;
    padding: 0 !important;
    margin: 0 !important;
    -webkit-print-color-adjust: exact;
  }

  .css-1ps6pg7-MuiPaper-root,
  .css-pori7h {
    width: 100% !important;
  }

  .printableTable {
    page-break-inside: auto;
    width: 100%;
    border-collapse: collapse;
  }

  .printableTable thead {
    display: table-header-group;
  }

  .printableTable tbody {
    display: table-row-group;
  }

  .printableTable tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }

  .printableTable td,
  .printableTable th {
    border: 1px solid black;
  }

  .printableTable {
    width: 100%;
  }

  .printableRow {
    page-break-inside: avoid;
    break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tfoot {
    display: table-footer-group;
  }
}
